{% extends 'base.html.twig' %}

{% block title %}
    List of Customers
{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 5rem;">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1>List of Customers</h1>
            <div>
                <a href="{{ path('app_home')}}" class="btn btn-secondary">Home</a>
                <a href="{{ path('customer_create') }}" class="btn btn-success">Add New Customer</a>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Size</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customers %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.email }}</td>
                        <td>{{ customer.size}}</td>
                        <td>
                            <a href="{{ path('customer_show', {id: customer.id}) }}" class="btn btn-primary">View</a>
                            <a href="{{ path('customer_edit', {id: customer.id}) }}" class="btn btn-secondary">Edit</a>
                            <a href="{{ path('customer_delete', {id: customer.id}) }}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>No customers found.</tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}